In [1]:
import pandas as pd
pd.options.display.max_columns = 999 
pd.options.display.max_rows = 999
from scrapy import Selector
import requests
import os

In [2]:
# header=({"User-Agent":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36"})
header = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

#### URL of the website

In [3]:
url2011=['https://www.statsf1.com/en/2011.aspx']
url2012=['https://www.statsf1.com/en/2012.aspx']
url2013=['https://www.statsf1.com/en/2013.aspx']
url2014=['https://www.statsf1.com/en/2014.aspx']
url2015=['https://www.statsf1.com/en/2015.aspx']
url2016=['https://www.statsf1.com/en/2016.aspx']
url2017=['https://www.statsf1.com/en/2017.aspx']
url2018=['https://www.statsf1.com/en/2018.aspx']
url2019=['https://www.statsf1.com/en/2019.aspx']
url2020=["https://www.statsf1.com/en/2020.aspx"]
url2021=['https://www.statsf1.com/en/2021.aspx']
url2022=['https://www.statsf1.com/en/2022.aspx']
url2023=['https://www.statsf1.com/en/2023.aspx']
url2024=['https://www.statsf1.com/en/2024.aspx']

### 2011 F1 SEASON

In [4]:
# Initialize lists to store data
drivers = []
year = []
australia = []
malaysia = []
china = []
turkey = []
bahrain=[]
spain = []
monaco = []
canada = []
france = []
azerbaijan=[]
austria=[]
europe = []
britain = []
germany = []
hungary = []
belgium = []
netherlands = []
italy = []
singapore = []
japan = []
russia=[]
emilia_romagna=[]
south_korea = []
india=[]
abu_dhabi=[]
qatar=[]
saudi_arabia=[]
usa=[]
las_vegas=[]
miami=[]
mexico=[]  
brazil=[]
total_points = []


# Example header for requests
header = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

# Iterate through all URLs in the list
for url in url2011:  # Replace `url2011` with your list of URLs
    # Extract the year from the URL (assuming the format is like https://www.statsf1.com/en/1950.aspx)
    year_from_url = url.split('/')[-1].split('.')[0]

    # Fetch and parse the page content
    response = requests.get(url, headers=header)
    sel = Selector(response)
    container = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv tr")

    # Extract race data for each race column
    all_data = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv td::text").getall()
    Australia = all_data[3::21]
    Malaysia = all_data[4::21]
    China = all_data[5::21]
    Turkey = all_data[6::21]
    Spain = all_data[7::21]
    Monaco = all_data[8::21]
    Canada = all_data[9::21]
    Europe = all_data[10::21]
    Britain = all_data[11::21]
    Germany = all_data[12::21]
    Hungary = all_data[13::21]
    Belgium = all_data[14::21]
    Italy = all_data[15::21]
    Singapore = all_data[16::21]
    Japan = all_data[17::21]
    South_Korea = all_data[18::21]
    India = all_data[19::21]
    Abu_Dhabi = all_data[20::21]
    Brazil = all_data[21::21]
    total_points_data = all_data[22::21]
    Bahrain=[]  
    France=[]
    Azerbaijan=[]
    Austria=[]
    Netherlands=[]
    Russia=[]
    Emilia_romagna=[]
    Qatar=[]
    Saudi_arabia=[]
    USA=[]
    Las_Vegas=[]
    Miami=[]
    Mexico=[]

    # Generate a list of years using the extracted year
    Year = [year_from_url] * (len(container) - 1)  # Exclude header row

    # Updated Code: Handle missing data and append zeros if necessary

# Ensure the minimum length is calculated for all lists involved
max_length = min(
    len(container) - 1, len(Australia), len(total_points_data)
)

# Loop through each container to extract data (skip the first row, index 0)
for i in range(1, max_length + 1):
    # Extract driver name and fallback options
    driver_name = container[i].css("td a::text").get()
    world_champion = container[i].css("td span.WorldChp::text").get()
    champ = container[i].css("td span.CurChpDriver::text").get()
    driver1 = container[i].css("td span.CurDriver::text").get()

    # Append the driver name or fallback options
    drivers.append(driver_name if driver_name else (world_champion if world_champion else (champ if champ else driver1)))

    # Handle missing data by appending NA for races with no data
    def append_value(lst, ref_list, i):
        lst.append(ref_list[i - 1] if i - 1 < len(ref_list) else "NA")

    
    append_value(australia, Australia, i)
    append_value(hungary, Hungary, i)
    append_value(britain, Britain, i)
    append_value(spain, Spain, i)
    append_value(belgium, Belgium, i)
    append_value(italy, Italy, i)
    append_value(monaco, Monaco, i)
    append_value(canada, Canada, i)
    append_value(europe, Europe, i)
    append_value(germany, Germany, i)
    append_value(singapore, Singapore, i)
    append_value(japan, Japan, i)
    append_value(south_korea, South_Korea, i)
    append_value(india, India, i)
    append_value(abu_dhabi, Abu_Dhabi, i)
    append_value(brazil, Brazil, i)
    append_value(malaysia, Malaysia, i)
    append_value(china, China, i)
    append_value(turkey, Turkey, i)
    append_value(bahrain, Bahrain, i)
    append_value(france, France, i)
    append_value(azerbaijan, Azerbaijan, i)
    append_value(austria, Austria, i)
    append_value(netherlands, Netherlands, i)
    append_value(russia, Russia, i)
    append_value(emilia_romagna, Emilia_romagna, i)
    append_value(qatar, Qatar, i)
    append_value(saudi_arabia, Saudi_arabia, i)
    append_value(usa, USA, i)
    append_value(las_vegas, Las_Vegas, i)
    append_value(miami, Miami, i)
    append_value(mexico, Mexico, i)
    append_value(total_points, total_points_data, i)


    # Append the year
    year.append(Year[i - 1])

# Ensure the `year` list matches the length of other data
year = year[:len(drivers)]

# Final data structure is ready for use
print("Data extraction complete!")
print(f"Number of drivers: {len(drivers)}")
print(f"Last driver: {drivers[-1] if drivers else 'No data'}")

Data extraction complete!
Number of drivers: 28
Last driver: K. CHANDHOK

DataFrame conversion

In [5]:
f12011_df=pd.DataFrame({"Drivers":drivers,"Year":year,"Australia":australia,"Malaysia":malaysia,"China":china,
                        "Turkey":turkey,"Bahrain":bahrain,"Spain":spain,"Monaco":monaco,"Canada":canada,"Europe":europe,
                        "France":france,"Azerbaijan":azerbaijan,"Austria":austria,"Britain":britain,"Germany":germany,
                        "Hungary":hungary,"Belgium":belgium,"Italy":italy,"Netherlands":netherlands,"Singapore":singapore,
                        "Japan":japan,"Russia":russia,"Emilia_Romagna":emilia_romagna,"South_Korea":south_korea,"India":india,
                        "Abu_Dhabi":abu_dhabi,"Qatar":qatar,"Saudi_Arabia":saudi_arabia,"USA":usa,"Brazil":brazil,
                        "Las_Vagas":las_vegas,"Miami":miami,"Mexico":mexico,"Total_Points":total_points})

In [6]:
f12011_df.shape

(28, 35)

In [7]:
f12011_df.head()

,Drivers,Year,Australia,Malaysia,China,Turkey,Bahrain,Spain,Monaco,Canada,Europe,France,Azerbaijan,Austria,Britain,Germany,Hungary,Belgium,Italy,Netherlands,Singapore,Japan,Russia,Emilia_Romagna,South_Korea,India,Abu_Dhabi,Qatar,Saudi_Arabia,USA,Brazil,Las_Vagas,Miami,Mexico,Total_Points
0,S. VETTEL,2011,25,25,18,25,NA,25,25,18,25,NA,NA,NA,18,12,18,25,25,NA,25,15,NA,NA,25,25,-,NA,NA,NA,18,NA,NA,NA,392
1,J. BUTTON,2011,8,18,12,8,NA,15,15,25,8,NA,NA,NA,-,-,25,15,18,NA,18,25,NA,NA,12,18,15,NA,NA,NA,15,NA,NA,NA,270
2,M. WEBBER,2011,10,12,15,18,NA,12,12,15,15,NA,NA,NA,15,15,10,18,-,NA,15,12,NA,NA,15,12,12,NA,NA,NA,25,NA,NA,NA,258
3,F. ALONSO,2011,12,8,6,15,NA,10,18,-,18,NA,NA,NA,25,18,15,12,15,NA,12,18,NA,NA,10,15,18,NA,NA,NA,12,NA,NA,NA,257
4,L. HAMILTON,2011,18,4,25,12,NA,18,8,-,12,NA,NA,NA,12,25,12,-,12,NA,10,10,NA,NA,18,6,25,NA,NA,NA,-,NA,NA,NA,227

In [8]:
# f12011_df.to_csv("f1_2011.csv",index=False)

### 2012 F1 Season

In [9]:
# Initialize lists to store data
drivers = []
year = []
australia = []
malaysia = []
china = []
turkey = []
bahrain=[]
spain = []
monaco = []
canada = []
france = []
azerbaijan=[]
austria=[]
europe = []
britain = []
germany = []
hungary = []
belgium = []
netherlands = []
italy = []
singapore = []
japan = []
russia=[]
emilia_romagna=[]
south_korea = []
india=[]
abu_dhabi=[]
qatar=[]
saudi_arabia=[]
usa=[]
las_vegas=[]
miami=[]
mexico=[]  
brazil=[]
total_points = []


# Example header for requests
header = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

# Iterate through all URLs in the list
for url in url2012:  # Replace `url2011` with your list of URLs
    # Extract the year from the URL (assuming the format is like https://www.statsf1.com/en/1950.aspx)
    year_from_url = url.split('/')[-1].split('.')[0]

    # Fetch and parse the page content
    response = requests.get(url, headers=header)
    sel = Selector(response)
    container = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv tr")

    # Extract race data for each race column
    all_data = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv td::text").getall()
    Australia = all_data[3::22]
    Malaysia = all_data[4::22]
    China = all_data[5::22]
    Bahrain = all_data[6::22]
    Spain = all_data[7::22]
    Monaco = all_data[8::22]
    Canada = all_data[9::22]
    Europe = all_data[10::22]
    Britain = all_data[11::22]
    Germany = all_data[12::22]
    Hungary = all_data[13::22]
    Belgium = all_data[14::22]
    Italy = all_data[15::22]
    Singapore = all_data[16::22]
    Japan = all_data[17::22]
    South_Korea = all_data[18::22]
    India = all_data[19::22]
    Abu_Dhabi = all_data[20::22]
    USA = all_data[21::22]
    Brazil = all_data[22::22]
    total_points_data = all_data[23::22]
    Turkey=[]
    France=[]
    Azerbaijan=[]
    Austria=[]
    Netherlands=[]
    Russia=[]
    Emilia_romagna=[]
    Qatar=[]
    Saudi_arabia=[]
    Las_Vegas=[]
    Miami=[]
    Mexico=[]

    # Generate a list of years using the extracted year
    Year = [year_from_url] * (len(container) - 1)  # Exclude header row

    # Updated Code: Handle missing data and append zeros if necessary

# Ensure the minimum length is calculated for all lists involved
max_length = min(
    len(container) - 1, len(Australia), len(total_points_data)
)

# Loop through each container to extract data (skip the first row, index 0)
for i in range(1, max_length + 1):
    # Extract driver name and fallback options
    driver_name = container[i].css("td a::text").get()
    world_champion = container[i].css("td span.WorldChp::text").get()
    champ = container[i].css("td span.CurChpDriver::text").get()
    driver1 = container[i].css("td span.CurDriver::text").get()

    # Append the driver name or fallback options
    drivers.append(driver_name if driver_name else (world_champion if world_champion else (champ if champ else driver1)))

    # Handle missing data by appending NA for races with no data
    def append_value(lst, ref_list, i):
        lst.append(ref_list[i - 1] if i - 1 < len(ref_list) else "NA")

   
    append_value(australia, Australia, i)
    append_value(hungary, Hungary, i)
    append_value(britain, Britain, i)
    append_value(spain, Spain, i)
    append_value(belgium, Belgium, i)
    append_value(italy, Italy, i)
    append_value(monaco, Monaco, i)
    append_value(canada, Canada, i)
    append_value(europe, Europe, i)
    append_value(germany, Germany, i)
    append_value(singapore, Singapore, i)
    append_value(japan, Japan, i)
    append_value(south_korea, South_Korea, i)
    append_value(india, India, i)
    append_value(abu_dhabi, Abu_Dhabi, i)
    append_value(brazil, Brazil, i)
    append_value(malaysia, Malaysia, i)
    append_value(china, China, i)
    append_value(turkey, Turkey, i)
    append_value(bahrain, Bahrain, i)
    append_value(france, France, i)
    append_value(azerbaijan, Azerbaijan, i)
    append_value(austria, Austria, i)
    append_value(netherlands, Netherlands, i)
    append_value(russia, Russia, i)
    append_value(emilia_romagna, Emilia_romagna, i)
    append_value(qatar, Qatar, i)
    append_value(saudi_arabia, Saudi_arabia, i)
    append_value(usa, USA, i)
    append_value(las_vegas, Las_Vegas, i)
    append_value(miami, Miami, i)
    append_value(mexico, Mexico, i)
    append_value(total_points, total_points_data, i)
    # Append the year
    year.append(Year[i - 1])

# Ensure the `year` list matches the length of other data
year = year[:len(drivers)]

# Final data structure is ready for use
print("Data extraction complete!")
print(f"Number of drivers: {len(drivers)}")
print(f"Last driver: {drivers[-1] if drivers else 'No data'}")

Data extraction complete!
Number of drivers: 25
Last driver: P. de la ROSA

In [10]:
f12012_df=pd.DataFrame({"Drivers":drivers,"Year":year,"Australia":australia,"Malaysia":malaysia,"China":china,
                        "Turkey":turkey,"Bahrain":bahrain,"Spain":spain,"Monaco":monaco,"Canada":canada,"Europe":europe,
                        "France":france,"Azerbaijan":azerbaijan,"Austria":austria,"Britain":britain,"Germany":germany,
                        "Hungary":hungary,"Belgium":belgium,"Italy":italy,"Netherlands":netherlands,"Singapore":singapore,
                        "Japan":japan,"Russia":russia,"Emilia_Romagna":emilia_romagna,"South_Korea":south_korea,"India":india,
                        "Abu_Dhabi":abu_dhabi,"Qatar":qatar,"Saudi_Arabia":saudi_arabia,"USA":usa,"Brazil":brazil,
                        "Las_Vagas":las_vegas,"Miami":miami,"Mexico":mexico,"Total_Points":total_points})

In [11]:
f12012_df.head()

,Drivers,Year,Australia,Malaysia,China,Turkey,Bahrain,Spain,Monaco,Canada,Europe,France,Azerbaijan,Austria,Britain,Germany,Hungary,Belgium,Italy,Netherlands,Singapore,Japan,Russia,Emilia_Romagna,South_Korea,India,Abu_Dhabi,Qatar,Saudi_Arabia,USA,Brazil,Las_Vagas,Miami,Mexico,Total_Points
0,S. VETTEL,2012,18,-,10,NA,25,8,12,12,-,NA,NA,NA,15,10,12,18,-,NA,25,25,NA,NA,25,25,15,NA,NA,18,8,NA,NA,NA,281
1,F. ALONSO,2012,10,25,2,NA,6,18,15,10,25,NA,NA,NA,18,25,10,-,15,NA,15,-,NA,NA,15,18,18,NA,NA,15,18,NA,NA,NA,278
2,K. RAIKKONEN,2012,6,10,-,NA,18,15,2,4,18,NA,NA,NA,10,15,18,15,10,NA,8,8,NA,NA,10,6,25,NA,NA,8,1,NA,NA,NA,207
3,L. HAMILTON,2012,15,15,15,NA,4,4,10,25,-,NA,NA,NA,4,-,25,-,25,NA,-,10,NA,NA,1,12,-,NA,NA,25,-,NA,NA,NA,190
4,J. BUTTON,2012,25,-,18,NA,-,2,-,-,4,NA,NA,NA,1,18,8,25,-,NA,18,12,NA,NA,-,10,12,NA,NA,10,25,NA,NA,NA,188

In [12]:
# f12012_df.to_csv("f1_2012.csv",index=False)

### 2013 F1 Season

In [13]:
# Initialize lists to store data
drivers = []
year = []
australia = []
malaysia = []
china = []
turkey = []
bahrain=[]
spain = []
monaco = []
canada = []
france = []
azerbaijan=[]
austria=[]
europe = []
britain = []
germany = []
hungary = []
belgium = []
netherlands = []
italy = []
singapore = []
japan = []
russia=[]
emilia_romagna=[]
south_korea = []
india=[]
abu_dhabi=[]
qatar=[]
saudi_arabia=[]
usa=[]
las_vegas=[]
miami=[]
mexico=[]  
brazil=[]
total_points = []


# Example header for requests
header = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

# Iterate through all URLs in the list
for url in url2013:  # Replace `url2011` with your list of URLs
    # Extract the year from the URL (assuming the format is like https://www.statsf1.com/en/1950.aspx)
    year_from_url = url.split('/')[-1].split('.')[0]

    # Fetch and parse the page content
    response = requests.get(url, headers=header)
    sel = Selector(response)
    container = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv tr")

    # Extract race data for each race column
    all_data = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv td::text").getall()
    Australia = all_data[3::21]
    Malaysia = all_data[4::21]
    China = all_data[5::21]
    Bahrain = all_data[6::21]
    Spain = all_data[7::21]
    Monaco = all_data[8::21]
    Canada = all_data[9::21]
    Britain = all_data[10::21]
    Germany = all_data[11::21]
    Hungary = all_data[12::21]
    Belgium = all_data[13::21]
    Italy = all_data[14::21]
    Singapore = all_data[15::21]
    South_Korea = all_data[16::21]
    Japan = all_data[17::21]
    India = all_data[18::21]
    Abu_Dhabi = all_data[19::21]
    USA = all_data[20::21]
    Brazil = all_data[21::21]
    total_points_data = all_data[22::21]
    Turkey=[]
    France=[]
    Azerbaijan=[]
    Austria=[]
    Netherlands=[]
    Russia=[]
    Emilia_romagna=[]
    Qatar=[]
    Saudi_arabia=[]
    Las_Vegas=[]
    Miami=[]
    Mexico=[]
    Europe=[]

    # Generate a list of years using the extracted year
    Year = [year_from_url] * (len(container) - 1)  # Exclude header row

    # Updated Code: Handle missing data and append zeros if necessary

# Ensure the minimum length is calculated for all lists involved
max_length = min(
    len(container) - 1, len(Australia), len(total_points_data)
)

# Loop through each container to extract data (skip the first row, index 0)
for i in range(1, max_length + 1):
    # Extract driver name and fallback options
    driver_name = container[i].css("td a::text").get()
    world_champion = container[i].css("td span.WorldChp::text").get()
    champ = container[i].css("td span.CurChpDriver::text").get()
    driver1 = container[i].css("td span.CurDriver::text").get()

    # Append the driver name or fallback options
    drivers.append(driver_name if driver_name else (world_champion if world_champion else (champ if champ else driver1)))

    # Handle missing data by appending NA for races with no data
    def append_value(lst, ref_list, i):
        lst.append(ref_list[i - 1] if i - 1 < len(ref_list) else "NA")

   
    append_value(australia, Australia, i)
    append_value(hungary, Hungary, i)
    append_value(britain, Britain, i)
    append_value(spain, Spain, i)
    append_value(belgium, Belgium, i)
    append_value(italy, Italy, i)
    append_value(monaco, Monaco, i)
    append_value(canada, Canada, i)
    append_value(europe, Europe, i)
    append_value(germany, Germany, i)
    append_value(singapore, Singapore, i)
    append_value(japan, Japan, i)
    append_value(south_korea, South_Korea, i)
    append_value(india, India, i)
    append_value(abu_dhabi, Abu_Dhabi, i)
    append_value(brazil, Brazil, i)
    append_value(malaysia, Malaysia, i)
    append_value(china, China, i)
    append_value(turkey, Turkey, i)
    append_value(bahrain, Bahrain, i)
    append_value(france, France, i)
    append_value(azerbaijan, Azerbaijan, i)
    append_value(austria, Austria, i)
    append_value(netherlands, Netherlands, i)
    append_value(russia, Russia, i)
    append_value(emilia_romagna, Emilia_romagna, i)
    append_value(qatar, Qatar, i)
    append_value(saudi_arabia, Saudi_arabia, i)
    append_value(usa, USA, i)
    append_value(las_vegas, Las_Vegas, i)
    append_value(miami, Miami, i)
    append_value(mexico, Mexico, i)
    append_value(total_points, total_points_data, i)
    # Append the year
    year.append(Year[i - 1])

# Ensure the `year` list matches the length of other data
year = year[:len(drivers)]

# Final data structure is ready for use
print("Data extraction complete!")
print(f"Number of drivers: {len(drivers)}")
print(f"Last driver: {drivers[-1] if drivers else 'No data'}")

Data extraction complete!
Number of drivers: 23
Last driver: M. CHILTON

In [14]:
f12013_df=pd.DataFrame({"Drivers":drivers,"Year":year,"Australia":australia,"Malaysia":malaysia,"China":china,
                        "Turkey":turkey,"Bahrain":bahrain,"Spain":spain,"Monaco":monaco,"Canada":canada,"Europe":europe,
                        "France":france,"Azerbaijan":azerbaijan,"Austria":austria,"Britain":britain,"Germany":germany,
                        "Hungary":hungary,"Belgium":belgium,"Italy":italy,"Netherlands":netherlands,"Singapore":singapore,
                        "Japan":japan,"Russia":russia,"Emilia_Romagna":emilia_romagna,"South_Korea":south_korea,"India":india,
                        "Abu_Dhabi":abu_dhabi,"Qatar":qatar,"Saudi_Arabia":saudi_arabia,"USA":usa,"Brazil":brazil,
                        "Las_Vagas":las_vegas,"Miami":miami,"Mexico":mexico,"Total_Points":total_points})

In [15]:
f12013_df.head()

,Drivers,Year,Australia,Malaysia,China,Turkey,Bahrain,Spain,Monaco,Canada,Europe,France,Azerbaijan,Austria,Britain,Germany,Hungary,Belgium,Italy,Netherlands,Singapore,Japan,Russia,Emilia_Romagna,South_Korea,India,Abu_Dhabi,Qatar,Saudi_Arabia,USA,Brazil,Las_Vagas,Miami,Mexico,Total_Points
0,S. VETTEL,2013,15,25,12,NA,25,12,18,25,NA,NA,NA,NA,-,25,15,25,25,NA,25,25,NA,NA,25,25,25,NA,NA,25,25,NA,NA,NA,397
1,F. ALONSO,2013,18,-,25,NA,4,25,6,18,NA,NA,NA,NA,15,12,10,18,18,NA,18,12,NA,NA,8,-,10,NA,NA,10,15,NA,NA,NA,242
2,M. WEBBER,2013,8,18,-,NA,6,10,15,12,NA,NA,NA,NA,18,6,12,10,15,NA,-,18,NA,NA,-,-,18,NA,NA,15,18,NA,NA,NA,199
3,L. HAMILTON,2013,10,15,15,NA,10,-,12,15,NA,NA,NA,NA,12,10,25,15,2,NA,10,-,NA,NA,10,8,6,NA,NA,12,2,NA,NA,NA,189
4,K. RAIKKONEN,2013,25,6,18,NA,18,18,1,2,NA,NA,NA,NA,10,18,18,-,-,NA,15,10,NA,NA,18,6,-,NA,NA,,,NA,NA,NA,183

In [16]:
# f12013_df.to_csv("f1_2013.csv",index=False)

### 2014 F1 Season

In [17]:
# Initialize lists to store data
drivers = []
year = []
australia = []
malaysia = []
china = []
turkey = []
bahrain=[]
spain = []
monaco = []
canada = []
france = []
azerbaijan=[]
austria=[]
europe = []
britain = []
germany = []
hungary = []
belgium = []
netherlands = []
italy = []
singapore = []
japan = []
russia=[]
emilia_romagna=[]
south_korea = []
india=[]
abu_dhabi=[]
qatar=[]
saudi_arabia=[]
usa=[]
las_vegas=[]
miami=[]
mexico=[]  
brazil=[]
total_points = []


# Example header for requests
header = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

# Iterate through all URLs in the list
for url in url2014:  # Replace `url2011` with your list of URLs
    # Extract the year from the URL (assuming the format is like https://www.statsf1.com/en/1950.aspx)
    year_from_url = url.split('/')[-1].split('.')[0]

    # Fetch and parse the page content
    response = requests.get(url, headers=header)
    sel = Selector(response)
    container = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv tr")

    # Extract race data for each race column
    all_data = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv td::text").getall()
    Australia = all_data[3::21]
    Malaysia = all_data[4::21]
    Bahrain = all_data[5::21]
    China = all_data[6::21]
    Spain = all_data[7::21]
    Monaco = all_data[8::21]
    Canada = all_data[9::21]
    Austria = all_data[10::21]
    Britain = all_data[10::21]
    Germany = all_data[11::21]
    Hungary = all_data[12::21]
    Belgium = all_data[13::21]
    Italy = all_data[14::21]
    Singapore = all_data[15::21]
    South_Korea = all_data[16::21]
    Japan = all_data[17::21]
    India = all_data[18::21]
    Abu_Dhabi = all_data[19::21]
    USA = all_data[20::21]
    Brazil = all_data[21::21]
    total_points_data = all_data[22::21]
    Turkey=[]
    France=[]
    Azerbaijan=[]
    Netherlands=[]
    Russia=[]
    Emilia_romagna=[]
    Qatar=[]
    Saudi_arabia=[]
    Las_Vegas=[]
    Miami=[]
    Mexico=[]
    Europe=[]

    # Generate a list of years using the extracted year
    Year = [year_from_url] * (len(container) - 1)  # Exclude header row

    # Updated Code: Handle missing data and append zeros if necessary

# Ensure the minimum length is calculated for all lists involved
max_length = min(
    len(container) - 1, len(Australia), len(total_points_data)
)

# Loop through each container to extract data (skip the first row, index 0)
for i in range(1, max_length + 1):
    # Extract driver name and fallback options
    driver_name = container[i].css("td a::text").get()
    world_champion = container[i].css("td span.WorldChp::text").get()
    champ = container[i].css("td span.CurChpDriver::text").get()
    driver1 = container[i].css("td span.CurDriver::text").get()

    # Append the driver name or fallback options
    drivers.append(driver_name if driver_name else (world_champion if world_champion else (champ if champ else driver1)))

    # Handle missing data by appending NA for races with no data
    def append_value(lst, ref_list, i):
        lst.append(ref_list[i - 1] if i - 1 < len(ref_list) else "NA")

  
    append_value(australia, Australia, i)
    append_value(hungary, Hungary, i)
    append_value(britain, Britain, i)
    append_value(spain, Spain, i)
    append_value(belgium, Belgium, i)
    append_value(italy, Italy, i)
    append_value(monaco, Monaco, i)
    append_value(canada, Canada, i)
    append_value(europe, Europe, i)
    append_value(germany, Germany, i)
    append_value(singapore, Singapore, i)
    append_value(japan, Japan, i)
    append_value(south_korea, South_Korea, i)
    append_value(india, India, i)
    append_value(abu_dhabi, Abu_Dhabi, i)
    append_value(brazil, Brazil, i)
    append_value(malaysia, Malaysia, i)
    append_value(china, China, i)
    append_value(turkey, Turkey, i)
    append_value(bahrain, Bahrain, i)
    append_value(france, France, i)
    append_value(azerbaijan, Azerbaijan, i)
    append_value(austria, Austria, i)
    append_value(netherlands, Netherlands, i)
    append_value(russia, Russia, i)
    append_value(emilia_romagna, Emilia_romagna, i)
    append_value(qatar, Qatar, i)
    append_value(saudi_arabia, Saudi_arabia, i)
    append_value(usa, USA, i)
    append_value(las_vegas, Las_Vegas, i)
    append_value(miami, Miami, i)
    append_value(mexico, Mexico, i)
    append_value(total_points, total_points_data, i)
    # Append the year
    year.append(Year[i - 1])

# Ensure the `year` list matches the length of other data
year = year[:len(drivers)]

# Final data structure is ready for use
print("Data extraction complete!")
print(f"Number of drivers: {len(drivers)}")
print(f"Last driver: {drivers[-1] if drivers else 'No data'}")

Data extraction complete!
Number of drivers: 23
Last driver: W. STEVENS

In [18]:
f12014_df=pd.DataFrame({"Drivers":drivers,"Year":year,"Australia":australia,"Malaysia":malaysia,"China":china,
                        "Turkey":turkey,"Bahrain":bahrain,"Spain":spain,"Monaco":monaco,"Canada":canada,"Europe":europe,
                        "France":france,"Azerbaijan":azerbaijan,"Austria":austria,"Britain":britain,"Germany":germany,
                        "Hungary":hungary,"Belgium":belgium,"Italy":italy,"Netherlands":netherlands,"Singapore":singapore,
                        "Japan":japan,"Russia":russia,"Emilia_Romagna":emilia_romagna,"South_Korea":south_korea,"India":india,
                        "Abu_Dhabi":abu_dhabi,"Qatar":qatar,"Saudi_Arabia":saudi_arabia,"USA":usa,"Brazil":brazil,
                        "Las_Vagas":las_vegas,"Miami":miami,"Mexico":mexico,"Total_Points":total_points})

In [19]:
f12014_df.head()

,Drivers,Year,Australia,Malaysia,China,Turkey,Bahrain,Spain,Monaco,Canada,Europe,France,Azerbaijan,Austria,Britain,Germany,Hungary,Belgium,Italy,Netherlands,Singapore,Japan,Russia,Emilia_Romagna,South_Korea,India,Abu_Dhabi,Qatar,Saudi_Arabia,USA,Brazil,Las_Vagas,Miami,Mexico,Total_Points
0,L. HAMILTON,2014,-,25,25,NA,25,25,18,-,NA,NA,NA,18,18,25,15,15,-,NA,25,25,NA,NA,25,25,25,NA,NA,18,50,NA,NA,NA,384
1,N. ROSBERG,2014,25,18,18,NA,18,18,25,18,NA,NA,NA,25,25,-,25,12,18,NA,18,18,NA,NA,-,18,18,NA,NA,25,-,NA,NA,NA,317
2,D. RICCIARDO,2014,-,-,12,NA,12,15,15,25,NA,NA,NA,4,4,15,8,25,25,NA,10,12,NA,NA,15,6,15,NA,NA,-,24,NA,NA,NA,238
3,V. BOTTAS,2014,10,4,6,NA,4,10,-,6,NA,NA,NA,15,15,18,18,4,15,NA,12,8,NA,NA,-,15,10,NA,NA,1,30,NA,NA,NA,186
4,S. VETTEL,2014,-,15,10,NA,8,12,-,15,NA,NA,NA,-,-,10,12,6,10,NA,8,15,NA,NA,18,4,6,NA,NA,10,8,NA,NA,NA,167

In [20]:
# f12014_df.to_csv("f1_2014.csv",index=False)

### 2015 F1 Season

In [21]:
# Initialize lists to store data
drivers = []
year = []
australia = []
malaysia = []
china = []
turkey = []
bahrain=[]
spain = []
monaco = []
canada = []
france = []
azerbaijan=[]
austria=[]
europe = []
britain = []
germany = []
hungary = []
belgium = []
netherlands = []
italy = []
singapore = []
japan = []
russia=[]
emilia_romagna=[]
south_korea = []
india=[]
abu_dhabi=[]
qatar=[]
saudi_arabia=[]
usa=[]
las_vegas=[]
miami=[]
mexico=[]  
brazil=[]
total_points = []


# Example header for requests
header = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

# Iterate through all URLs in the list
for url in url2015:  # Replace `url2011` with your list of URLs
    # Extract the year from the URL (assuming the format is like https://www.statsf1.com/en/1950.aspx)
    year_from_url = url.split('/')[-1].split('.')[0]

    # Fetch and parse the page content
    response = requests.get(url, headers=header)
    sel = Selector(response)
    container = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv tr")

    # Extract race data for each race column
    all_data = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv td::text").getall()
    Australia = all_data[3::21]
    Malaysia = all_data[4::21]
    China = all_data[5::21]
    Bahrain= all_data[6::21]
    Spain = all_data[7::21]
    Monaco = all_data[8::21]
    Canada = all_data[9::21]
    Austria = all_data[10::21]
    Britain = all_data[11::21]
    Hungary = all_data[12::21]
    Belgium = all_data[13::21]
    Italy = all_data[14::21]
    Singapore = all_data[15::21]
    Japan = all_data[16::21]
    Russia = all_data[17::21]
    USA = all_data[18::21]
    Mexico = all_data[19::21]
    Brazil = all_data[20::21]
    Abu_Dhabi = all_data[21::21]
    total_points_data = all_data[22::21]
    Turkey=[]
    France=[]
    Azerbaijan=[]
    Netherlands=[]
    Russia=[]
    Emilia_romagna=[]
    Qatar=[]
    Saudi_arabia=[]
    Las_Vegas=[]
    Miami=[]
    Europe=[]
    Germany=[]
    South_Korea=[]

    # Generate a list of years using the extracted year
    Year = [year_from_url] * (len(container) - 1)  # Exclude header row

    # Updated Code: Handle missing data and append zeros if necessary

# Ensure the minimum length is calculated for all lists involved
max_length = min(
    len(container) - 1, len(Australia), len(total_points_data)
)

# Loop through each container to extract data (skip the first row, index 0)
for i in range(1, max_length + 1):
    # Extract driver name and fallback options
    driver_name = container[i].css("td a::text").get()
    world_champion = container[i].css("td span.WorldChp::text").get()
    champ = container[i].css("td span.CurChpDriver::text").get()
    driver1 = container[i].css("td span.CurDriver::text").get()

    # Append the driver name or fallback options
    drivers.append(driver_name if driver_name else (world_champion if world_champion else (champ if champ else driver1)))

    # Handle missing data by appending NA for races with no data
    def append_value(lst, ref_list, i):
        lst.append(ref_list[i - 1] if i - 1 < len(ref_list) else "NA")

    
    append_value(australia, Australia, i)
    append_value(hungary, Hungary, i)
    append_value(britain, Britain, i)
    append_value(spain, Spain, i)
    append_value(belgium, Belgium, i)
    append_value(italy, Italy, i)
    append_value(monaco, Monaco, i)
    append_value(canada, Canada, i)
    append_value(europe, Europe, i)
    append_value(germany, Germany, i)
    append_value(singapore, Singapore, i)
    append_value(japan, Japan, i)
    append_value(south_korea, South_Korea, i)
    append_value(india, India, i)
    append_value(abu_dhabi, Abu_Dhabi, i)
    append_value(brazil, Brazil, i)
    append_value(malaysia, Malaysia, i)
    append_value(china, China, i)
    append_value(turkey, Turkey, i)
    append_value(bahrain, Bahrain, i)
    append_value(france, France, i)
    append_value(azerbaijan, Azerbaijan, i)
    append_value(austria, Austria, i)
    append_value(netherlands, Netherlands, i)
    append_value(russia, Russia, i)
    append_value(emilia_romagna, Emilia_romagna, i)
    append_value(qatar, Qatar, i)
    append_value(saudi_arabia, Saudi_arabia, i)
    append_value(usa, USA, i)
    append_value(las_vegas, Las_Vegas, i)
    append_value(miami, Miami, i)
    append_value(mexico, Mexico, i)
    append_value(total_points, total_points_data, i)
    # Append the year
    year.append(Year[i - 1])

# Ensure the `year` list matches the length of other data
year = year[:len(drivers)]

# Final data structure is ready for use
print("Data extraction complete!")
print(f"Number of drivers: {len(drivers)}")
print(f"Last driver: {drivers[-1] if drivers else 'No data'}")

Data extraction complete!
Number of drivers: 21
Last driver: W. STEVENS

In [22]:
f12015_df=pd.DataFrame({"Drivers":drivers,"Year":year,"Australia":australia,"Malaysia":malaysia,"China":china,
                        "Turkey":turkey,"Bahrain":bahrain,"Spain":spain,"Monaco":monaco,"Canada":canada,"Europe":europe,
                        "France":france,"Azerbaijan":azerbaijan,"Austria":austria,"Britain":britain,"Germany":germany,
                        "Hungary":hungary,"Belgium":belgium,"Italy":italy,"Netherlands":netherlands,"Singapore":singapore,
                        "Japan":japan,"Russia":russia,"Emilia_Romagna":emilia_romagna,"South_Korea":south_korea,"India":india,
                        "Abu_Dhabi":abu_dhabi,"Qatar":qatar,"Saudi_Arabia":saudi_arabia,"USA":usa,"Brazil":brazil,
                        "Las_Vagas":las_vegas,"Miami":miami,"Mexico":mexico,"Total_Points":total_points})

In [23]:
f12015_df.head()

,Drivers,Year,Australia,Malaysia,China,Turkey,Bahrain,Spain,Monaco,Canada,Europe,France,Azerbaijan,Austria,Britain,Germany,Hungary,Belgium,Italy,Netherlands,Singapore,Japan,Russia,Emilia_Romagna,South_Korea,India,Abu_Dhabi,Qatar,Saudi_Arabia,USA,Brazil,Las_Vagas,Miami,Mexico,Total_Points
0,L. HAMILTON,2015,25,18,25,NA,25,18,15,25,NA,NA,NA,18,25,NA,8,25,25,NA,-,25,NA,NA,NA,25,18,NA,NA,25,18,NA,NA,18,381
1,N. ROSBERG,2015,18,15,18,NA,15,25,25,18,NA,NA,NA,25,18,NA,4,18,-,NA,12,18,NA,NA,NA,18,25,NA,NA,18,25,NA,NA,25,322
2,S. VETTEL,2015,15,25,15,NA,10,15,18,10,NA,NA,NA,12,15,NA,25,-,18,NA,25,15,NA,NA,NA,6,12,NA,NA,15,15,NA,NA,-,278
3,K. RAIKKONEN,2015,-,12,12,NA,18,10,8,12,NA,NA,NA,-,4,NA,-,6,10,NA,15,12,NA,NA,NA,15,15,NA,NA,-,12,NA,NA,-,150
4,V. BOTTAS,2015,-,10,8,NA,12,12,-,15,NA,NA,NA,10,10,NA,-,2,12,NA,10,10,NA,NA,NA,4,-,NA,NA,-,10,NA,NA,15,136

In [24]:
# f12015_df.to_csv("f1_2015.csv",index=False)

### 2016 F1 Season

In [25]:
# Initialize lists to store data
drivers = []
year = []
australia = []
malaysia = []
china = []
turkey = []
bahrain=[]
spain = []
monaco = []
canada = []
france = []
azerbaijan=[]
austria=[]
europe = []
britain = []
germany = []
hungary = []
belgium = []
netherlands = []
italy = []
singapore = []
japan = []
russia=[]
emilia_romagna=[]
south_korea = []
india=[]
abu_dhabi=[]
qatar=[]
saudi_arabia=[]
usa=[]
las_vegas=[]
miami=[]
mexico=[]  
brazil=[]
total_points = []


# Example header for requests
header = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

# Iterate through all URLs in the list
for url in url2016:  # Replace `url2011` with your list of URLs
    # Extract the year from the URL (assuming the format is like https://www.statsf1.com/en/1950.aspx)
    year_from_url = url.split('/')[-1].split('.')[0]

    # Fetch and parse the page content
    response = requests.get(url, headers=header)
    sel = Selector(response)
    container = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv tr")

    # Extract race data for each race column
    all_data = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv td::text").getall()
    Australia = all_data[3::23]
    Bahrain = all_data[4::23]
    China = all_data[5::23]
    Russia= all_data[6::23]
    Spain = all_data[7::23]
    Monaco = all_data[8::23]
    Canada = all_data[9::23]
    Europe = all_data[10::23]
    Austria = all_data[11::23]
    Britain = all_data[12::23]
    Hungary = all_data[13::23]
    Germany = all_data[14::23]
    Belgium = all_data[15::23]
    Italy = all_data[16::23]
    Singapore = all_data[17::23]
    Malaysia = all_data[18::23]
    Japan = all_data[19::23]
    USA = all_data[20::23]
    Mexico = all_data[21::23]
    Brazil = all_data[22::23]
    Abu_Dhabi = all_data[23::23]
    total_points_data = all_data[24::23]
    Turkey=[]
    France=[]
    Azerbaijan=[]
    Netherlands=[]
    Emilia_romagna=[]
    Qatar=[]
    Saudi_arabia=[]
    Las_Vegas=[]
    Miami=[]
    Bahrain=[]
    South_Korea = []

    # Generate a list of years using the extracted year
    Year = [year_from_url] * (len(container) - 1)  # Exclude header row

    # Updated Code: Handle missing data and append zeros if necessary

# Ensure the minimum length is calculated for all lists involved
max_length = min(
    len(container) - 1, len(Australia), len(total_points_data)
)

# Loop through each container to extract data (skip the first row, index 0)
for i in range(1, max_length + 1):
    # Extract driver name and fallback options
    driver_name = container[i].css("td a::text").get()
    world_champion = container[i].css("td span.WorldChp::text").get()
    champ = container[i].css("td span.CurChpDriver::text").get()
    driver1 = container[i].css("td span.CurDriver::text").get()

    # Append the driver name or fallback options
    drivers.append(driver_name if driver_name else (world_champion if world_champion else (champ if champ else driver1)))

    # Handle missing data by appending NA for races with no data
    def append_value(lst, ref_list, i):
        lst.append(ref_list[i - 1] if i - 1 < len(ref_list) else "NA")

    
    append_value(australia, Australia, i)
    append_value(hungary, Hungary, i)
    append_value(britain, Britain, i)
    append_value(spain, Spain, i)
    append_value(belgium, Belgium, i)
    append_value(italy, Italy, i)
    append_value(monaco, Monaco, i)
    append_value(canada, Canada, i)
    append_value(europe, Europe, i)
    append_value(germany, Germany, i)
    append_value(singapore, Singapore, i)
    append_value(japan, Japan, i)
    append_value(south_korea, South_Korea, i)
    append_value(india, India, i)
    append_value(abu_dhabi, Abu_Dhabi, i)
    append_value(brazil, Brazil, i)
    append_value(malaysia, Malaysia, i)
    append_value(china, China, i)
    append_value(turkey, Turkey, i)
    append_value(bahrain, Bahrain, i)
    append_value(france, France, i)
    append_value(azerbaijan, Azerbaijan, i)
    append_value(austria, Austria, i)
    append_value(netherlands, Netherlands, i)
    append_value(russia, Russia, i)
    append_value(emilia_romagna, Emilia_romagna, i)
    append_value(qatar, Qatar, i)
    append_value(saudi_arabia, Saudi_arabia, i)
    append_value(usa, USA, i)
    append_value(las_vegas, Las_Vegas, i)
    append_value(miami, Miami, i)
    append_value(mexico, Mexico, i)
    append_value(total_points, total_points_data, i)
    # Append the year
    year.append(Year[i - 1])

# Ensure the `year` list matches the length of other data
year = year[:len(drivers)]

# Final data structure is ready for use
print("Data extraction complete!")
print(f"Number of drivers: {len(drivers)}")
print(f"Last driver: {drivers[-1] if drivers else 'No data'}")

Data extraction complete!
Number of drivers: 24
Last driver: R. HARYANTO

In [26]:
f12016_df=pd.DataFrame({"Drivers":drivers,"Year":year,"Australia":australia,"Malaysia":malaysia,"China":china,
                        "Turkey":turkey,"Bahrain":bahrain,"Spain":spain,"Monaco":monaco,"Canada":canada,"Europe":europe,
                        "France":france,"Azerbaijan":azerbaijan,"Austria":austria,"Britain":britain,"Germany":germany,
                        "Hungary":hungary,"Belgium":belgium,"Italy":italy,"Netherlands":netherlands,"Singapore":singapore,
                        "Japan":japan,"Russia":russia,"Emilia_Romagna":emilia_romagna,"South_Korea":south_korea,"India":india,
                        "Abu_Dhabi":abu_dhabi,"Qatar":qatar,"Saudi_Arabia":saudi_arabia,"USA":usa,"Brazil":brazil,
                        "Las_Vagas":las_vegas,"Miami":miami,"Mexico":mexico,"Total_Points":total_points})

In [27]:
f12016_df.head()

,Drivers,Year,Australia,Malaysia,China,Turkey,Bahrain,Spain,Monaco,Canada,Europe,France,Azerbaijan,Austria,Britain,Germany,Hungary,Belgium,Italy,Netherlands,Singapore,Japan,Russia,Emilia_Romagna,South_Korea,India,Abu_Dhabi,Qatar,Saudi_Arabia,USA,Brazil,Las_Vagas,Miami,Mexico,Total_Points
0,N. ROSBERG,2016,25,15,25,NA,NA,-,6,10,25,NA,NA,12,15,12,18,25,25,NA,25,25,25,NA,NA,25,18,NA,NA,18,18,NA,NA,18,385
1,L. HAMILTON,2016,18,-,6,NA,NA,-,25,25,10,NA,NA,25,25,25,25,15,18,NA,15,15,18,NA,NA,18,25,NA,NA,25,25,NA,NA,25,380
2,D. RICCIARDO,2016,12,25,12,NA,NA,12,18,6,6,NA,NA,10,12,18,15,18,10,NA,18,8,-,NA,NA,6,10,NA,NA,15,4,NA,NA,15,256
3,S. VETTEL,2016,15,-,18,NA,NA,15,12,18,18,NA,NA,-,2,10,12,8,15,NA,10,12,-,NA,NA,15,15,NA,NA,12,10,NA,NA,10,212
4,M. VERSTAPPEN,2016,1,18,4,NA,NA,25,-,12,4,NA,NA,18,18,15,10,-,6,NA,8,18,-,NA,NA,4,12,NA,NA,-,15,NA,NA,12,204

In [28]:
# f12016_df.to_csv("f1_2016.csv",index=False)

### 2017 F1 Season

In [29]:
# Initialize lists to store data
drivers = []
year = []
australia = []
malaysia = []
china = []
turkey = []
bahrain=[]
spain = []
monaco = []
canada = []
france = []
azerbaijan=[]
austria=[]
europe = []
britain = []
germany = []
hungary = []
belgium = []
netherlands = []
italy = []
singapore = []
japan = []
russia=[]
emilia_romagna=[]
south_korea = []
india=[]
abu_dhabi=[]
qatar=[]
saudi_arabia=[]
usa=[]
las_vegas=[]
miami=[]
mexico=[]  
brazil=[]
total_points = []


# Example header for requests
header = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

# Iterate through all URLs in the list
for url in url2017:  # Replace `url2011` with your list of URLs
    # Extract the year from the URL (assuming the format is like https://www.statsf1.com/en/1950.aspx)
    year_from_url = url.split('/')[-1].split('.')[0]

    # Fetch and parse the page content
    response = requests.get(url, headers=header)
    sel = Selector(response)
    container = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv tr")

    # Extract race data for each race column
    all_data = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv td::text").getall()
    Australia = all_data[3::22]
    China = all_data[4::22]
    Bahrain = all_data[5::22]
    Russia= all_data[6::22]
    Spain = all_data[7::22]
    Monaco = all_data[8::22]
    Canada = all_data[9::22]
    Azerbaijan = all_data[10::22]
    Austria = all_data[11::22]
    Britain = all_data[12::22]
    Hungary = all_data[13::22]
    Belgium = all_data[14::22]
    Italy = all_data[15::22]
    Singapore = all_data[16::22]
    Malaysia = all_data[17::22]
    Japan = all_data[18::22]
    USA = all_data[19::22]
    Mexico = all_data[20::22]
    Brazil = all_data[21::22]
    Abu_Dhabi = all_data[22::22]
    total_points_data = all_data[23::22]
    Turkey=[]
    France=[]
    Netherlands=[]
    Emilia_romagna=[]
    Qatar=[]
    Saudi_arabia=[]
    Las_Vegas=[]
    Miami=[]
    Bahrain=[]
    Europe=[]
    Germany=[]
    South_Korea=[]

    # Generate a list of years using the extracted year
    Year = [year_from_url] * (len(container) - 1)  # Exclude header row

    # Updated Code: Handle missing data and append zeros if necessary

# Ensure the minimum length is calculated for all lists involved
max_length = min(
    len(container) - 1, len(Australia), len(total_points_data)
)

# Loop through each container to extract data (skip the first row, index 0)
for i in range(1, max_length + 1):
    # Extract driver name and fallback options
    driver_name = container[i].css("td a::text").get()
    world_champion = container[i].css("td span.WorldChp::text").get()
    champ = container[i].css("td span.CurChpDriver::text").get()
    driver1 = container[i].css("td span.CurDriver::text").get()

    # Append the driver name or fallback options
    drivers.append(driver_name if driver_name else (world_champion if world_champion else (champ if champ else driver1)))

    # Handle missing data by appending NA for races with no data
    def append_value(lst, ref_list, i):
        lst.append(ref_list[i - 1] if i - 1 < len(ref_list) else "NA")

    
    append_value(australia, Australia, i)
    append_value(hungary, Hungary, i)
    append_value(britain, Britain, i)
    append_value(spain, Spain, i)
    append_value(belgium, Belgium, i)
    append_value(italy, Italy, i)
    append_value(monaco, Monaco, i)
    append_value(canada, Canada, i)
    append_value(europe, Europe, i)
    append_value(germany, Germany, i)
    append_value(singapore, Singapore, i)
    append_value(japan, Japan, i)
    append_value(south_korea, South_Korea, i)
    append_value(india, India, i)
    append_value(abu_dhabi, Abu_Dhabi, i)
    append_value(brazil, Brazil, i)
    append_value(malaysia, Malaysia, i)
    append_value(china, China, i)
    append_value(turkey, Turkey, i)
    append_value(bahrain, Bahrain, i)
    append_value(france, France, i)
    append_value(azerbaijan, Azerbaijan, i)
    append_value(austria, Austria, i)
    append_value(netherlands, Netherlands, i)
    append_value(russia, Russia, i)
    append_value(emilia_romagna, Emilia_romagna, i)
    append_value(qatar, Qatar, i)
    append_value(saudi_arabia, Saudi_arabia, i)
    append_value(usa, USA, i)
    append_value(las_vegas, Las_Vegas, i)
    append_value(miami, Miami, i)
    append_value(mexico, Mexico, i)
    append_value(total_points, total_points_data, i)
    # Append the year
    year.append(Year[i - 1])

# Ensure the `year` list matches the length of other data
year = year[:len(drivers)]

# Final data structure is ready for use
print("Data extraction complete!")
print(f"Number of drivers: {len(drivers)}")
print(f"Last driver: {drivers[-1] if drivers else 'No data'}")

Data extraction complete!
Number of drivers: 23
Last driver: B. HARTLEY

In [30]:
f12017_df=pd.DataFrame({"Drivers":drivers,"Year":year,"Australia":australia,"Malaysia":malaysia,"China":china,
                        "Turkey":turkey,"Bahrain":bahrain,"Spain":spain,"Monaco":monaco,"Canada":canada,"Europe":europe,
                        "France":france,"Azerbaijan":azerbaijan,"Austria":austria,"Britain":britain,"Germany":germany,
                        "Hungary":hungary,"Belgium":belgium,"Italy":italy,"Netherlands":netherlands,"Singapore":singapore,
                        "Japan":japan,"Russia":russia,"Emilia_Romagna":emilia_romagna,"South_Korea":south_korea,"India":india,
                        "Abu_Dhabi":abu_dhabi,"Qatar":qatar,"Saudi_Arabia":saudi_arabia,"USA":usa,"Brazil":brazil,
                        "Las_Vagas":las_vegas,"Miami":miami,"Mexico":mexico,"Total_Points":total_points})

In [31]:
f12017_df.head()

,Drivers,Year,Australia,Malaysia,China,Turkey,Bahrain,Spain,Monaco,Canada,Europe,France,Azerbaijan,Austria,Britain,Germany,Hungary,Belgium,Italy,Netherlands,Singapore,Japan,Russia,Emilia_Romagna,South_Korea,India,Abu_Dhabi,Qatar,Saudi_Arabia,USA,Brazil,Las_Vagas,Miami,Mexico,Total_Points
0,L. HAMILTON,2017,18,18,25,NA,NA,25,6,25,NA,NA,10,12,25,NA,12,25,25,NA,25,25,12,NA,NA,25,18,NA,NA,25,12,NA,NA,2,363
1,S. VETTEL,2017,25,12,18,NA,NA,18,25,12,NA,NA,12,18,6,NA,25,18,15,NA,-,-,18,NA,NA,18,15,NA,NA,18,25,NA,NA,12,317
2,V. BOTTAS,2017,15,10,8,NA,NA,-,12,18,NA,NA,18,25,18,NA,15,10,18,NA,15,12,25,NA,NA,6,25,NA,NA,10,18,NA,NA,18,305
3,K. RAIKKONEN,2017,12,-,10,NA,NA,-,18,6,NA,NA,-,10,15,NA,18,12,10,NA,-,10,15,NA,NA,15,12,NA,NA,15,15,NA,NA,15,205
4,D. RICCIARDO,2017,-,15,12,NA,NA,15,15,15,NA,NA,25,15,10,NA,-,15,12,NA,18,15,-,NA,NA,4,-,NA,NA,-,8,NA,NA,-,200

In [32]:
# f12017_df.to_csv("f1_2017.csv",index=False)

### 2018 F1 Season

In [33]:
# Initialize lists to store data
drivers = []
year = []
australia = []
malaysia = []
china = []
turkey = []
bahrain=[]
spain = []
monaco = []
canada = []
france = []
azerbaijan=[]
austria=[]
europe = []
britain = []
germany = []
hungary = []
belgium = []
netherlands = []
italy = []
singapore = []
japan = []
russia=[]
emilia_romagna=[]
south_korea = []
india=[]
abu_dhabi=[]
qatar=[]
saudi_arabia=[]
usa=[]
las_vegas=[]
miami=[]
mexico=[]  
brazil=[]
total_points = []


# Example header for requests
header = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

# Iterate through all URLs in the list
for url in url2018:  # Replace `url2011` with your list of URLs
    # Extract the year from the URL (assuming the format is like https://www.statsf1.com/en/1950.aspx)
    year_from_url = url.split('/')[-1].split('.')[0]

    # Fetch and parse the page content
    response = requests.get(url, headers=header)
    sel = Selector(response)
    container = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv tr")

    # Extract race data for each race column
    all_data = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv td::text").getall()
    Australia = all_data[3::23]
    Bahrain = all_data[4::23]
    China = all_data[5::23]
    Azerbaijan= all_data[6::23]
    Spain = all_data[7::23]
    Monaco = all_data[8::23]
    Canada = all_data[9::23]
    France = all_data[10::23]
    Austria = all_data[11::23]
    Britain = all_data[12::23]
    Germany = all_data[13::23]
    Hungary = all_data[14::23]
    Belgium = all_data[15::23]
    Italy = all_data[16::23]
    Singapore = all_data[17::23]
    Russia = all_data[18::23]
    Japan = all_data[19::23]
    USA = all_data[20::23]
    Mexico = all_data[21::23]
    Brazil = all_data[22::23]
    Abu_Dhabi = all_data[23::23]
    total_points_data = all_data[24::23]
    Turkey=[]
    Netherlands=[]
    Emilia_romagna=[]
    Qatar=[]
    Saudi_arabia=[]
    Las_Vegas=[]
    Miami=[]
    Bahrain=[]
    Europe=[]
    South_Korea=[]

    # Generate a list of years using the extracted year
    Year = [year_from_url] * (len(container) - 1)  # Exclude header row

    # Updated Code: Handle missing data and append zeros if necessary

# Ensure the minimum length is calculated for all lists involved
max_length = min(
    len(container) - 1, len(Australia), len(total_points_data)
)

# Loop through each container to extract data (skip the first row, index 0)
for i in range(1, max_length + 1):
    # Extract driver name and fallback options
    driver_name = container[i].css("td a::text").get()
    world_champion = container[i].css("td span.WorldChp::text").get()
    champ = container[i].css("td span.CurChpDriver::text").get()
    driver1 = container[i].css("td span.CurDriver::text").get()

    # Append the driver name or fallback options
    drivers.append(driver_name if driver_name else (world_champion if world_champion else (champ if champ else driver1)))

    # Handle missing data by appending NA for races with no data
    def append_value(lst, ref_list, i):
        lst.append(ref_list[i - 1] if i - 1 < len(ref_list) else "NA")

   
    append_value(australia, Australia, i)
    append_value(hungary, Hungary, i)
    append_value(britain, Britain, i)
    append_value(spain, Spain, i)
    append_value(belgium, Belgium, i)
    append_value(italy, Italy, i)
    append_value(monaco, Monaco, i)
    append_value(canada, Canada, i)
    append_value(europe, Europe, i)
    append_value(germany, Germany, i)
    append_value(singapore, Singapore, i)
    append_value(japan, Japan, i)
    append_value(south_korea, South_Korea, i)
    append_value(india, India, i)
    append_value(abu_dhabi, Abu_Dhabi, i)
    append_value(brazil, Brazil, i)
    append_value(malaysia, Malaysia, i)
    append_value(china, China, i)
    append_value(turkey, Turkey, i)
    append_value(bahrain, Bahrain, i)
    append_value(france, France, i)
    append_value(azerbaijan, Azerbaijan, i)
    append_value(austria, Austria, i)
    append_value(netherlands, Netherlands, i)
    append_value(russia, Russia, i)
    append_value(emilia_romagna, Emilia_romagna, i)
    append_value(qatar, Qatar, i)
    append_value(saudi_arabia, Saudi_arabia, i)
    append_value(usa, USA, i)
    append_value(las_vegas, Las_Vegas, i)
    append_value(miami, Miami, i)
    append_value(mexico, Mexico, i)
    append_value(total_points, total_points_data, i)
    # Append the year
    year.append(Year[i - 1])

# Ensure the `year` list matches the length of other data
year = year[:len(drivers)]

# Final data structure is ready for use
print("Data extraction complete!")
print(f"Number of drivers: {len(drivers)}")
print(f"Last driver: {drivers[-1] if drivers else 'No data'}")

Data extraction complete!
Number of drivers: 20
Last driver: S. SIROTKIN

In [34]:
f12018_df=pd.DataFrame({"Drivers":drivers,"Year":year,"Australia":australia,"Malaysia":malaysia,"China":china,
                        "Turkey":turkey,"Bahrain":bahrain,"Spain":spain,"Monaco":monaco,"Canada":canada,"Europe":europe,
                        "France":france,"Azerbaijan":azerbaijan,"Austria":austria,"Britain":britain,"Germany":germany,
                        "Hungary":hungary,"Belgium":belgium,"Italy":italy,"Netherlands":netherlands,"Singapore":singapore,
                        "Japan":japan,"Russia":russia,"Emilia_Romagna":emilia_romagna,"South_Korea":south_korea,"India":india,
                        "Abu_Dhabi":abu_dhabi,"Qatar":qatar,"Saudi_Arabia":saudi_arabia,"USA":usa,"Brazil":brazil,
                        "Las_Vagas":las_vegas,"Miami":miami,"Mexico":mexico,"Total_Points":total_points})

In [35]:
f12018_df.head()

,Drivers,Year,Australia,Malaysia,China,Turkey,Bahrain,Spain,Monaco,Canada,Europe,France,Azerbaijan,Austria,Britain,Germany,Hungary,Belgium,Italy,Netherlands,Singapore,Japan,Russia,Emilia_Romagna,South_Korea,India,Abu_Dhabi,Qatar,Saudi_Arabia,USA,Brazil,Las_Vagas,Miami,Mexico,Total_Points
0,L. HAMILTON,2018,18,18,12,NA,NA,25,15,10,NA,25,25,-,18,25,25,18,25,NA,25,25,25,NA,NA,25,25,NA,NA,15,25,NA,NA,12,408
1,S. VETTEL,2018,25,12,4,NA,NA,12,18,25,NA,10,12,15,25,-,18,25,12,NA,15,8,15,NA,NA,18,18,NA,NA,12,8,NA,NA,18,320
2,K. RAIKKONEN,2018,15,10,15,NA,NA,-,12,8,NA,15,18,18,15,15,15,-,18,NA,10,10,12,NA,NA,6,-,NA,NA,25,15,NA,NA,15,251
3,M. VERSTAPPEN,2018,8,-,10,NA,NA,15,2,15,NA,18,-,25,-,12,-,15,10,NA,18,15,10,NA,NA,15,15,NA,NA,18,18,NA,NA,25,249
4,V. BOTTAS,2018,4,15,18,NA,NA,18,10,18,NA,6,-,-,12,18,10,12,15,NA,12,18,18,NA,NA,4,10,NA,NA,10,10,NA,NA,10,247

In [36]:
# f12018_df.to_csv("f1_2018.csv",index=False)

### 2019 F1 Season

In [37]:
# Initialize lists to store data
drivers = []
year = []
australia = []
malaysia = []
china = []
turkey = []
bahrain=[]
spain = []
monaco = []
canada = []
france = []
azerbaijan=[]
austria=[]
europe = []
britain = []
germany = []
hungary = []
belgium = []
netherlands = []
italy = []
singapore = []
japan = []
russia=[]
emilia_romagna=[]
south_korea = []
india=[]
abu_dhabi=[]
qatar=[]
saudi_arabia=[]
usa=[]
las_vegas=[]
miami=[]
mexico=[]  
brazil=[]
total_points = []


# Example header for requests
header = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

# Iterate through all URLs in the list
for url in url2019:  # Replace `url2011` with your list of URLs
    # Extract the year from the URL (assuming the format is like https://www.statsf1.com/en/1950.aspx)
    year_from_url = url.split('/')[-1].split('.')[0]

    # Fetch and parse the page content
    response = requests.get(url, headers=header)
    sel = Selector(response)
    container = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv tr")

    # Extract race data for each race column
    all_data = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv td::text").getall()
    Australia = all_data[3::23]
    Bahrain = all_data[4::23]
    China = all_data[5::23]
    Azerbaijan= all_data[6::23]
    Spain = all_data[7::23]
    Monaco = all_data[8::23]
    Canada = all_data[9::23]
    France = all_data[10::23]
    Austria = all_data[11::23]
    Britain = all_data[12::23]
    Germany = all_data[13::23]
    Hungary = all_data[14::23]
    Belgium = all_data[15::23]
    Italy = all_data[16::23]
    Singapore = all_data[17::23]
    Russia = all_data[18::23]
    Japan = all_data[19::23]
    Mexico = all_data[20::23]
    USA = all_data[21::23]
    Brazil = all_data[22::23]
    Abu_Dhabi = all_data[23::23]
    total_points_data = all_data[24::23]
    Turkey=[]
    Netherlands=[]
    Emilia_romagna=[]
    Qatar=[]
    Saudi_arabia=[]
    Las_Vegas=[]
    Miami=[]
    Bahrain=[]
    Europe=[]
    South_Korea=[]

    # Generate a list of years using the extracted year
    Year = [year_from_url] * (len(container) - 1)  # Exclude header row

    # Updated Code: Handle missing data and append zeros if necessary

# Ensure the minimum length is calculated for all lists involved
max_length = min(
    len(container) - 1, len(Australia), len(total_points_data)
)

# Loop through each container to extract data (skip the first row, index 0)
for i in range(1, max_length + 1):
    # Extract driver name and fallback options
    driver_name = container[i].css("td a::text").get()
    world_champion = container[i].css("td span.WorldChp::text").get()
    champ = container[i].css("td span.CurChpDriver::text").get()
    driver1 = container[i].css("td span.CurDriver::text").get()

    # Append the driver name or fallback options
    drivers.append(driver_name if driver_name else (world_champion if world_champion else (champ if champ else driver1)))

    # Handle missing data by appending NA for races with no data
    def append_value(lst, ref_list, i):
        lst.append(ref_list[i - 1] if i - 1 < len(ref_list) else "NA")

    
    append_value(australia, Australia, i)
    append_value(hungary, Hungary, i)
    append_value(britain, Britain, i)
    append_value(spain, Spain, i)
    append_value(belgium, Belgium, i)
    append_value(italy, Italy, i)
    append_value(monaco, Monaco, i)
    append_value(canada, Canada, i)
    append_value(europe, Europe, i)
    append_value(germany, Germany, i)
    append_value(singapore, Singapore, i)
    append_value(japan, Japan, i)
    append_value(south_korea, South_Korea, i)
    append_value(india, India, i)
    append_value(abu_dhabi, Abu_Dhabi, i)
    append_value(brazil, Brazil, i)
    append_value(malaysia, Malaysia, i)
    append_value(china, China, i)
    append_value(turkey, Turkey, i)
    append_value(bahrain, Bahrain, i)
    append_value(france, France, i)
    append_value(azerbaijan, Azerbaijan, i)
    append_value(austria, Austria, i)
    append_value(netherlands, Netherlands, i)
    append_value(russia, Russia, i)
    append_value(emilia_romagna, Emilia_romagna, i)
    append_value(qatar, Qatar, i)
    append_value(saudi_arabia, Saudi_arabia, i)
    append_value(usa, USA, i)
    append_value(las_vegas, Las_Vegas, i)
    append_value(miami, Miami, i)
    append_value(mexico, Mexico, i)
    append_value(total_points, total_points_data, i)
    # Append the year
    year.append(Year[i - 1])

# Ensure the `year` list matches the length of other data
year = year[:len(drivers)]

# Final data structure is ready for use
print("Data extraction complete!")
print(f"Number of drivers: {len(drivers)}")
print(f"Last driver: {drivers[-1] if drivers else 'No data'}")

Data extraction complete!
Number of drivers: 20
Last driver: G. RUSSELL

In [38]:
f12019_df=pd.DataFrame({"Drivers":drivers,"Year":year,"Australia":australia,"Malaysia":malaysia,"China":china,
                        "Turkey":turkey,"Bahrain":bahrain,"Spain":spain,"Monaco":monaco,"Canada":canada,"Europe":europe,
                        "France":france,"Azerbaijan":azerbaijan,"Austria":austria,"Britain":britain,"Germany":germany,
                        "Hungary":hungary,"Belgium":belgium,"Italy":italy,"Netherlands":netherlands,"Singapore":singapore,
                        "Japan":japan,"Russia":russia,"Emilia_Romagna":emilia_romagna,"South_Korea":south_korea,"India":india,
                        "Abu_Dhabi":abu_dhabi,"Qatar":qatar,"Saudi_Arabia":saudi_arabia,"USA":usa,"Brazil":brazil,
                        "Las_Vagas":las_vegas,"Miami":miami,"Mexico":mexico,"Total_Points":total_points})

In [39]:
f12019_df.head()

,Drivers,Year,Australia,Malaysia,China,Turkey,Bahrain,Spain,Monaco,Canada,Europe,France,Azerbaijan,Austria,Britain,Germany,Hungary,Belgium,Italy,Netherlands,Singapore,Japan,Russia,Emilia_Romagna,South_Korea,India,Abu_Dhabi,Qatar,Saudi_Arabia,USA,Brazil,Las_Vagas,Miami,Mexico,Total_Points
0,L. HAMILTON,2019,18,18,25,NA,NA,26,25,25,NA,25,18,10,26,2,25,18,16,NA,12,16,26,NA,NA,25,26,NA,NA,18,6,NA,NA,25,413
1,V. BOTTAS,2019,26,12,18,NA,NA,18,15,13,NA,18,25,15,18,-,4,15,18,NA,10,25,18,NA,NA,18,12,NA,NA,25,-,NA,NA,15,326
2,M. VERSTAPPEN,2019,15,10,12,NA,NA,15,12,10,NA,12,12,26,10,26,19,-,4,NA,15,-,12,NA,NA,6,18,NA,NA,15,25,NA,NA,8,278
3,C. LECLERC,2019,10,-,10,NA,NA,10,-,15,NA,15,11,18,15,-,12,25,25,NA,18,8,15,NA,NA,15,15,NA,NA,13,-,NA,NA,13,264
4,S. VETTEL,2019,12,15,15,NA,NA,12,18,18,NA,11,15,12,-,18,15,13,-,NA,25,18,-,NA,NA,4,10,NA,NA,-,-,NA,NA,18,240

In [40]:
# f12019_df.to_csv("f1_2019.csv",index=False)

### 2022 F1 Season

In [41]:
# Initialize lists to store data
drivers = []
year = []
australia = []
malaysia = []
china = []
turkey = []
bahrain=[]
spain = []
monaco = []
canada = []
france = []
azerbaijan=[]
austria=[]
europe = []
britain = []
germany = []
hungary = []
belgium = []
netherlands = []
italy = []
singapore = []
japan = []
russia=[]
emilia_romagna=[]
south_korea = []
india=[]
abu_dhabi=[]
qatar=[]
saudi_arabia=[]
usa=[]
las_vegas=[]
miami=[]
mexico=[]  
brazil=[]
total_points = []


# Example header for requests
header = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

# Iterate through all URLs in the list
for url in url2022:  # Replace `url2011` with your list of URLs
    # Extract the year from the URL (assuming the format is like https://www.statsf1.com/en/1950.aspx)
    year_from_url = url.split('/')[-1].split('.')[0]

    # Fetch and parse the page content
    response = requests.get(url, headers=header)
    sel = Selector(response)
    container = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv tr")

    # Extract race data for each race column
    all_data = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv td::text").getall()
    Bahrain = all_data[3::24]
    Saudi_arabia = all_data[4::24]
    Australia = all_data[5::24]
    Emilia_Romagna = all_data[6::24]
    Miami = all_data[7::24]
    Spain = all_data[8::24]
    Monaco = all_data[9::24]
    Azerbaijan = all_data[10::24]
    Canada = all_data[11::24]
    Britain = all_data[12::24]
    Austria = all_data[13::24]
    France = all_data[14::24]
    Hungary = all_data[15::24]
    Belgium = all_data[16::24]
    Netherlands = all_data[17::24]
    Italy = all_data[18::24]
    Singapore = all_data[19::24]
    Japan = all_data[20::24]
    USA = all_data[21::24]
    Mexico = all_data[22::24]
    Brazil = all_data[23::24]
    Abu_Dhabi=all_data[24::24]
    total_points_data = all_data[25::24]
    Las_Vegas=[]
    Europe=[]
    South_Korea=[]
    China=[]
    India=[]
    Germany=[]
    Russia=[]
    Turkey=[]
    Qatar=[]
    Malaysia=[]

    # Generate a list of years using the extracted year
    Year = [year_from_url] * (len(container) - 1)  # Exclude header row

    # Updated Code: Handle missing data and append zeros if necessary

# Ensure the minimum length is calculated for all lists involved
max_length = min(
    len(container) - 1, len(Australia), len(total_points_data)
)

# Loop through each container to extract data (skip the first row, index 0)
for i in range(1, max_length + 1):
    # Extract driver name and fallback options
    driver_name = container[i].css("td a::text").get()
    world_champion = container[i].css("td span.WorldChp::text").get()
    champ = container[i].css("td span.CurChpDriver::text").get()
    driver1 = container[i].css("td span.CurDriver::text").get()

    # Append the driver name or fallback options
    drivers.append(driver_name if driver_name else (world_champion if world_champion else (champ if champ else driver1)))

    # Handle missing data by appending NA for races with no data
    def append_value(lst, ref_list, i):
        lst.append(ref_list[i - 1] if i - 1 < len(ref_list) else "NA")

    
    append_value(australia, Australia, i)
    append_value(hungary, Hungary, i)
    append_value(britain, Britain, i)
    append_value(spain, Spain, i)
    append_value(belgium, Belgium, i)
    append_value(italy, Italy, i)
    append_value(monaco, Monaco, i)
    append_value(canada, Canada, i)
    append_value(europe, Europe, i)
    append_value(germany, Germany, i)
    append_value(singapore, Singapore, i)
    append_value(japan, Japan, i)
    append_value(south_korea, South_Korea, i)
    append_value(india, India, i)
    append_value(abu_dhabi, Abu_Dhabi, i)
    append_value(brazil, Brazil, i)
    append_value(malaysia, Malaysia, i)
    append_value(china, China, i)
    append_value(turkey, Turkey, i)
    append_value(bahrain, Bahrain, i)
    append_value(france, France, i)
    append_value(azerbaijan, Azerbaijan, i)
    append_value(austria, Austria, i)
    append_value(netherlands, Netherlands, i)
    append_value(russia, Russia, i)
    append_value(emilia_romagna, Emilia_Romagna, i)
    append_value(qatar, Qatar, i)
    append_value(saudi_arabia, Saudi_arabia, i)
    append_value(usa, USA, i)
    append_value(las_vegas, Las_Vegas, i)
    append_value(miami, Miami, i)
    append_value(mexico, Mexico, i)
    append_value(total_points, total_points_data, i)
    # Append the year
    year.append(Year[i - 1])

# Ensure the `year` list matches the length of other data
year = year[:len(drivers)]

# Final data structure is ready for use
print("Data extraction complete!")
print(f"Number of drivers: {len(drivers)}")
print(f"Last driver: {drivers[-1] if drivers else 'No data'}")

Data extraction complete!
Number of drivers: 22
Last driver: N. HULKENBERG

In [42]:
f12022_df=pd.DataFrame({"Drivers":drivers,"Year":year,"Australia":australia,"Malaysia":malaysia,"China":china,
                        "Turkey":turkey,"Bahrain":bahrain,"Spain":spain,"Monaco":monaco,"Canada":canada,"Europe":europe,
                        "France":france,"Azerbaijan":azerbaijan,"Austria":austria,"Britain":britain,"Germany":germany,
                        "Hungary":hungary,"Belgium":belgium,"Italy":italy,"Netherlands":netherlands,"Singapore":singapore,
                        "Japan":japan,"Russia":russia,"Emilia_Romagna":emilia_romagna,"South_Korea":south_korea,"India":india,
                        "Abu_Dhabi":abu_dhabi,"Qatar":qatar,"Saudi_Arabia":saudi_arabia,"USA":usa,"Brazil":brazil,
                        "Las_Vagas":las_vegas,"Miami":miami,"Mexico":mexico,"Total_Points":total_points})

In [43]:
f12022_df.head()

,Drivers,Year,Australia,Malaysia,China,Turkey,Bahrain,Spain,Monaco,Canada,Europe,France,Azerbaijan,Austria,Britain,Germany,Hungary,Belgium,Italy,Netherlands,Singapore,Japan,Russia,Emilia_Romagna,South_Korea,India,Abu_Dhabi,Qatar,Saudi_Arabia,USA,Brazil,Las_Vagas,Miami,Mexico,Total_Points
0,M. VERSTAPPEN,2022,-,NA,NA,NA,-,25,15,25,NA,25,25,27,6,NA,25,26,25,26,6,25,NA,34,NA,NA,25,NA,25,25,13,NA,26,25,454
1,C. LECLERC,2022,26,NA,NA,NA,26,-,12,10,NA,-,-,32,12,NA,8,8,18,15,18,15,NA,15,NA,NA,18,NA,19,15,15,NA,18,8,308
2,S. PEREZ,2022,18,NA,NA,NA,-,19,25,-,NA,12,19,4,18,NA,10,18,9,10,25,18,NA,24,NA,NA,15,NA,12,12,10,NA,12,15,305
3,G. RUSSELL,2022,15,NA,NA,NA,12,15,10,12,NA,15,15,17,-,NA,15,12,15,18,-,4,NA,12,NA,NA,10,NA,10,11,34,NA,10,13,275
4,C. SAINZ,2022,-,NA,NA,NA,18,12,18,19,NA,11,-,6,25,NA,12,15,12,4,15,-,NA,5,NA,NA,12,NA,15,-,22,NA,15,10,246

In [44]:
# f12022_df.to_csv("f12022.csv",index=False)

### 2023 F1 Season

In [45]:
# Initialize lists to store data
drivers = []
year = []
australia = []
malaysia = []
china = []
turkey = []
bahrain=[]
spain = []
monaco = []
canada = []
france = []
azerbaijan=[]
austria=[]
europe = []
britain = []
germany = []
hungary = []
belgium = []
netherlands = []
italy = []
singapore = []
japan = []
russia=[]
emilia_romagna=[]
south_korea = []
india=[]
abu_dhabi=[]
qatar=[]
saudi_arabia=[]
usa=[]
las_vegas=[]
miami=[]
mexico=[]  
brazil=[]
total_points = []


# Example header for requests
header = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

# Iterate through all URLs in the list
for url in url2023:  # Replace `url2011` with your list of URLs
    # Extract the year from the URL (assuming the format is like https://www.statsf1.com/en/1950.aspx)
    year_from_url = url.split('/')[-1].split('.')[0]

    # Fetch and parse the page content
    response = requests.get(url, headers=header)
    sel = Selector(response)
    container = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv tr")

    # Extract race data for each race column
    all_data = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv td::text").getall()
    Bahrain = all_data[3::24]
    Saudi_arabia = all_data[4::24]
    Australia = all_data[5::24]
    Azerbaijan = all_data[6::24]
    Miami = all_data[7::24]
    Monaco = all_data[8::24]
    Spain = all_data[9::24]
    Canada = all_data[10::24]
    Austria = all_data[11::24]
    Britain = all_data[12::24]
    Hungary = all_data[13::24]
    Belgium = all_data[14::24]
    Netherlands = all_data[15::24]
    Italy = all_data[16::24]
    Singapore = all_data[17::24]
    Japan = all_data[18::24]
    Qatar = all_data[19::24]
    USA = all_data[20::24]
    Mexico = all_data[21::24]
    Brazil = all_data[22::24]
    Las_Vegas = all_data[23::24]
    Abu_Dhabi=all_data[24::24]
    total_points_data = all_data[25::24]
    Europe=[]
    South_Korea=[]
    China=[]
    India=[]
    Germany=[]
    Russia=[]
    Turkey=[]
    Malaysia=[]
    Emilia_Romagna=[]
    France=[]

    # Generate a list of years using the extracted year
    Year = [year_from_url] * (len(container) - 1)  # Exclude header row

    # Updated Code: Handle missing data and append zeros if necessary

# Ensure the minimum length is calculated for all lists involved
max_length = min(
    len(container) - 1, len(Australia), len(total_points_data)
)

# Loop through each container to extract data (skip the first row, index 0)
for i in range(1, max_length + 1):
    # Extract driver name and fallback options
    driver_name = container[i].css("td a::text").get()
    world_champion = container[i].css("td span.WorldChp::text").get()
    champ = container[i].css("td span.CurChpDriver::text").get()
    driver1 = container[i].css("td span.CurDriver::text").get()

    # Append the driver name or fallback options
    drivers.append(driver_name if driver_name else (world_champion if world_champion else (champ if champ else driver1)))

    # Handle missing data by appending NA for races with no data
    def append_value(lst, ref_list, i):
        lst.append(ref_list[i - 1] if i - 1 < len(ref_list) else "NA")

    
    append_value(australia, Australia, i)
    append_value(hungary, Hungary, i)
    append_value(britain, Britain, i)
    append_value(spain, Spain, i)
    append_value(belgium, Belgium, i)
    append_value(italy, Italy, i)
    append_value(monaco, Monaco, i)
    append_value(canada, Canada, i)
    append_value(europe, Europe, i)
    append_value(germany, Germany, i)
    append_value(singapore, Singapore, i)
    append_value(japan, Japan, i)
    append_value(south_korea, South_Korea, i)
    append_value(india, India, i)
    append_value(abu_dhabi, Abu_Dhabi, i)
    append_value(brazil, Brazil, i)
    append_value(malaysia, Malaysia, i)
    append_value(china, China, i)
    append_value(turkey, Turkey, i)
    append_value(bahrain, Bahrain, i)
    append_value(france, France, i)
    append_value(azerbaijan, Azerbaijan, i)
    append_value(austria, Austria, i)
    append_value(netherlands, Netherlands, i)
    append_value(russia, Russia, i)
    append_value(emilia_romagna, Emilia_Romagna, i)
    append_value(qatar, Qatar, i)
    append_value(saudi_arabia, Saudi_arabia, i)
    append_value(usa, USA, i)
    append_value(las_vegas, Las_Vegas, i)
    append_value(miami, Miami, i)
    append_value(mexico, Mexico, i)
    append_value(total_points, total_points_data, i)
    # Append the year
    year.append(Year[i - 1])

# Ensure the `year` list matches the length of other data
year = year[:len(drivers)]

# Final data structure is ready for use
print("Data extraction complete!")
print(f"Number of drivers: {len(drivers)}")
print(f"Last driver: {drivers[-1] if drivers else 'No data'}")

Data extraction complete!
Number of drivers: 22
Last driver: N. de VRIES

In [46]:
f12023_df=pd.DataFrame({"Drivers":drivers,"Year":year,"Australia":australia,"Malaysia":malaysia,"China":china,
                        "Turkey":turkey,"Bahrain":bahrain,"Spain":spain,"Monaco":monaco,"Canada":canada,"Europe":europe,
                        "France":france,"Azerbaijan":azerbaijan,"Austria":austria,"Britain":britain,"Germany":germany,
                        "Hungary":hungary,"Belgium":belgium,"Italy":italy,"Netherlands":netherlands,"Singapore":singapore,
                        "Japan":japan,"Russia":russia,"Emilia_Romagna":emilia_romagna,"South_Korea":south_korea,"India":india,
                        "Abu_Dhabi":abu_dhabi,"Qatar":qatar,"Saudi_Arabia":saudi_arabia,"USA":usa,"Brazil":brazil,
                        "Las_Vagas":las_vegas,"Miami":miami,"Mexico":mexico,"Total_Points":total_points})

In [47]:
f12023_df.head()

,Drivers,Year,Australia,Malaysia,China,Turkey,Bahrain,Spain,Monaco,Canada,Europe,France,Azerbaijan,Austria,Britain,Germany,Hungary,Belgium,Italy,Netherlands,Singapore,Japan,Russia,Emilia_Romagna,South_Korea,India,Abu_Dhabi,Qatar,Saudi_Arabia,USA,Brazil,Las_Vagas,Miami,Mexico,Total_Points
0,M. VERSTAPPEN,2023,25,NA,NA,NA,25,26,25,25,NA,NA,24,34,26,NA,26,33,25,25,10,26,NA,NA,NA,NA,26,33,19,33,33,25,26,25,575
1,S. PEREZ,2023,11,NA,NA,NA,18,12,-,9,NA,NA,33,22,8,NA,15,18,18,12,4,-,NA,NA,NA,NA,12,1,25,16,18,15,18,-,285
2,L. HAMILTON,2023,18,NA,NA,NA,10,18,13,15,NA,NA,10,4,15,NA,12,15,8,8,16,10,NA,NA,NA,NA,2,4,10,7,6,6,8,19,234
3,F. ALONSO,2023,15,NA,NA,NA,15,6,18,18,NA,NA,15,14,6,NA,2,10,2,19,-,4,NA,NA,NA,NA,6,9,15,-,15,2,15,-,206
4,C. LECLERC,2023,-,NA,NA,NA,-,-,8,12,NA,NA,22,18,2,NA,6,19,12,-,12,12,NA,NA,NA,NA,18,10,6,6,4,18,6,15,206

In [48]:
# f12023_df.to_csv("f12023.csv",index=False)

### 2024 F1 Season

In [49]:
# Initialize lists to store data
drivers = []
year = []
australia = []
malaysia = []
china = []
turkey = []
bahrain=[]
spain = []
monaco = []
canada = []
france = []
azerbaijan=[]
austria=[]
europe = []
britain = []
germany = []
hungary = []
belgium = []
netherlands = []
italy = []
singapore = []
japan = []
russia=[]
emilia_romagna=[]
south_korea = []
india=[]
abu_dhabi=[]
qatar=[]
saudi_arabia=[]
usa=[]
las_vegas=[]
miami=[]
mexico=[]  
brazil=[]
total_points = []


# Example header for requests
header = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
}

# Iterate through all URLs in the list
for url in url2024:  # Replace `url2011` with your list of URLs
    # Extract the year from the URL (assuming the format is like https://www.statsf1.com/en/1950.aspx)
    year_from_url = url.split('/')[-1].split('.')[0]

    # Fetch and parse the page content
    response = requests.get(url, headers=header)
    sel = Selector(response)
    container = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv tr")

    # Extract race data for each race column
    all_data = sel.css("table#ctl00_CPH_Main_TBL_CHP_Drv td::text").getall()
    Bahrain = all_data[3::26]
    Saudi_arabia = all_data[4::26]
    Australia = all_data[5::26]
    Japan = all_data[6::26]
    China = all_data[7::26]
    Miami = all_data[8::26]
    Emilia_Romagna = all_data[9::26]
    Monaco = all_data[10::26]
    Canada = all_data[11::26]
    Spain = all_data[12::26]
    Austria = all_data[13::26]
    Britain = all_data[14::26]
    Hungary = all_data[15::26]
    Belgium = all_data[16::26]
    Netherlands = all_data[17::26]
    Italy = all_data[18::26]
    Azerbaijan = all_data[19::26]
    Singapore = all_data[20::26]
    USA = all_data[21::26]
    Mexico = all_data[22::26]
    Brazil = all_data[23::26]
    Las_Vegas=all_data[24::26]
    Qatar = all_data[25::26]
    Abu_Dhabi = all_data[26::26]
    total_points_data = all_data[27::26]
    Europe=[]
    South_Korea=[]
    India=[]
    Germany=[]
    Russia=[]
    Turkey=[]
    Malaysia=[]
    France=[]

    # Generate a list of years using the extracted year
    Year = [year_from_url] * (len(container) - 1)  # Exclude header row

    # Updated Code: Handle missing data and append zeros if necessary

# Ensure the minimum length is calculated for all lists involved
max_length = min(
    len(container) - 1, len(Australia), len(total_points_data)
)

# Loop through each container to extract data (skip the first row, index 0)
for i in range(1, max_length + 1):
    # Extract driver name and fallback options
    driver_name = container[i].css("td a::text").get()
    world_champion = container[i].css("td span.WorldChp::text").get()
    champ = container[i].css("td span.CurChpDriver::text").get()
    driver1 = container[i].css("td span.CurDriver::text").get()

    # Append the driver name or fallback options
    drivers.append(driver_name if driver_name else (world_champion if world_champion else (champ if champ else driver1)))

    # Handle missing data by appending NA for races with no data
    def append_value(lst, ref_list, i):
        lst.append(ref_list[i - 1] if i - 1 < len(ref_list) else "NA")

    
    append_value(australia, Australia, i)
    append_value(hungary, Hungary, i)
    append_value(britain, Britain, i)
    append_value(spain, Spain, i)
    append_value(belgium, Belgium, i)
    append_value(italy, Italy, i)
    append_value(monaco, Monaco, i)
    append_value(canada, Canada, i)
    append_value(europe, Europe, i)
    append_value(germany, Germany, i)
    append_value(singapore, Singapore, i)
    append_value(japan, Japan, i)
    append_value(south_korea, South_Korea, i)
    append_value(india, India, i)
    append_value(abu_dhabi, Abu_Dhabi, i)
    append_value(brazil, Brazil, i)
    append_value(malaysia, Malaysia, i)
    append_value(china, China, i)
    append_value(turkey, Turkey, i)
    append_value(bahrain, Bahrain, i)
    append_value(france, France, i)
    append_value(azerbaijan, Azerbaijan, i)
    append_value(austria, Austria, i)
    append_value(netherlands, Netherlands, i)
    append_value(russia, Russia, i)
    append_value(emilia_romagna, Emilia_Romagna, i)
    append_value(qatar, Qatar, i)
    append_value(saudi_arabia, Saudi_arabia, i)
    append_value(usa, USA, i)
    append_value(las_vegas, Las_Vegas, i)
    append_value(miami, Miami, i)
    append_value(mexico, Mexico, i)
    append_value(total_points, total_points_data, i)
    # Append the year
    year.append(Year[i - 1])

# Ensure the `year` list matches the length of other data
year = year[:len(drivers)]

# Final data structure is ready for use
print("Data extraction complete!")
print(f"Number of drivers: {len(drivers)}")
print(f"Last driver: {drivers[-1] if drivers else 'No data'}")

Data extraction complete!
Number of drivers: 24
Last driver: J. DOOHAN

In [50]:
f12024_df=pd.DataFrame({"Drivers":drivers,"Year":year,"Australia":australia,"Malaysia":malaysia,"China":china,
                        "Turkey":turkey,"Bahrain":bahrain,"Spain":spain,"Monaco":monaco,"Canada":canada,"Europe":europe,
                        "France":france,"Azerbaijan":azerbaijan,"Austria":austria,"Britain":britain,"Germany":germany,
                        "Hungary":hungary,"Belgium":belgium,"Italy":italy,"Netherlands":netherlands,"Singapore":singapore,
                        "Japan":japan,"Russia":russia,"Emilia_Romagna":emilia_romagna,"South_Korea":south_korea,"India":india,
                        "Abu_Dhabi":abu_dhabi,"Qatar":qatar,"Saudi_Arabia":saudi_arabia,"USA":usa,"Brazil":brazil,
                        "Las_Vagas":las_vegas,"Miami":miami,"Mexico":mexico,"Total_Points":total_points})

In [51]:
f12024_df.head()

,Drivers,Year,Australia,Malaysia,China,Turkey,Bahrain,Spain,Monaco,Canada,Europe,France,Azerbaijan,Austria,Britain,Germany,Hungary,Belgium,Italy,Netherlands,Singapore,Japan,Russia,Emilia_Romagna,South_Korea,India,Abu_Dhabi,Qatar,Saudi_Arabia,USA,Brazil,Las_Vagas,Miami,Mexico,Total_Points
0,M. VERSTAPPEN,2024,-,NA,33,NA,26,25,8,25,NA,NA,10,18,18,NA,10,12,8,18,18,26,NA,25,NA,NA,8,26,25,23,31,10,26,8,437
1,L. NORRIS,2024,15,NA,21,NA,8,19,12,18,NA,NA,13,6,15,NA,18,10,16,26,25,10,NA,18,NA,NA,25,9,4,18,16,9,25,18,374
2,C. LECLERC,2024,19,NA,17,NA,12,10,25,-,NA,NA,18,2,-,NA,12,15,25,15,10,12,NA,15,NA,NA,15,22,16,30,16,12,22,16,356
3,O. PIASTRI,2024,12,NA,6,NA,4,6,18,10,NA,NA,25,25,12,NA,25,18,18,12,15,4,NA,12,NA,NA,1,23,12,10,11,6,3,4,292
4,C. SAINZ,2024,25,NA,14,NA,15,8,15,-,NA,NA,-,19,11,NA,8,8,12,10,6,15,NA,10,NA,NA,18,13,-,25,4,15,14,25,290

In [52]:
# f12024_df.to_csv("f12024.csv",index=False)

In [54]:
f1_file=r"C:\Users\EVANS\OneDrive\Desktop\PY\ME204\Code\Project\F1_Project\Raw data"
all_file = [os.path.join(f1_file, file) for file in os.listdir(f1_file) if file.endswith(".csv")]

f1_df = pd.concat((pd.read_csv(file) for file in all_file)).reset_index(drop=True)

In [55]:

# Replace '-' and blank spaces with 0
f1_df.replace({'-': '0', ' ': 0 }, inplace=True)

# If there are multiple spaces or other whitespace characters, use regex
f1_df.replace(r'^\s*$',pd.NA, regex=True, inplace=True)

In [56]:
# List of columns to update
columns_to_convert = [
    'Australia', 'Malaysia', 'China', 'Turkey', 'Bahrain', 'Spain', 'Monaco', 'Canada', 'France', 
    'Azerbaijan', 'Austria', 'Britain', 'Germany', 'Hungary', 'Belgium', 'Netherlands', 'Italy',  
    'Singapore', 'Japan', 'Russia', 'Emilia_Romagna', 'South_Korea', 'India','Abu_Dhabi', 'Qatar', 
    'Saudi_Arabia', 'USA', 'Brazil', 'Las_Vagas', 'Miami', 'Mexico','Europe', 'Total_Points'
]

# Convert the 'Year' column to string
f1_df["Year"] = f1_df["Year"].astype(str)

# Replace empty strings, whitespace-only strings, or invalid values with NaN
f1_df[columns_to_convert] = f1_df[columns_to_convert].replace(r'^\s*$', pd.NA, regex=True)

# Ensure numeric conversion: Convert valid numbers while keeping NaN values
for col in columns_to_convert:
    f1_df[col] = pd.to_numeric(f1_df[col], errors="coerce").astype("Int32")

# Verify results
f1_df.dtypes

Drivers           object
Year              object
Australia          Int32
Malaysia           Int32
China              Int32
Turkey             Int32
Bahrain            Int32
Spain              Int32
Monaco             Int32
Canada             Int32
Europe             Int32
France             Int32
Azerbaijan         Int32
Austria            Int32
Britain            Int32
Germany            Int32
Hungary            Int32
Belgium            Int32
Italy              Int32
Netherlands        Int32
Singapore          Int32
Japan              Int32
Russia             Int32
Emilia_Romagna     Int32
South_Korea        Int32
India              Int32
Abu_Dhabi          Int32
Qatar              Int32
Saudi_Arabia       Int32
USA                Int32
Brazil             Int32
Las_Vagas          Int32
Miami              Int32
Mexico             Int32
Total_Points       Int32
dtype: object

In [57]:
f1_df.head()

,Drivers,Year,Australia,Malaysia,China,Turkey,Bahrain,Spain,Monaco,Canada,Europe,France,Azerbaijan,Austria,Britain,Germany,Hungary,Belgium,Italy,Netherlands,Singapore,Japan,Russia,Emilia_Romagna,South_Korea,India,Abu_Dhabi,Qatar,Saudi_Arabia,USA,Brazil,Las_Vagas,Miami,Mexico,Total_Points
0,M. VERSTAPPEN,2022,0,<NA>,<NA>,<NA>,0,25,15,25,<NA>,25,25,27,6,<NA>,25,26,25,26,6,25,<NA>,34,<NA>,<NA>,25,<NA>,25,25,13,<NA>,26,25,454
1,C. LECLERC,2022,26,<NA>,<NA>,<NA>,26,0,12,10,<NA>,0,0,32,12,<NA>,8,8,18,15,18,15,<NA>,15,<NA>,<NA>,18,<NA>,19,15,15,<NA>,18,8,308
2,S. PEREZ,2022,18,<NA>,<NA>,<NA>,0,19,25,0,<NA>,12,19,4,18,<NA>,10,18,9,10,25,18,<NA>,24,<NA>,<NA>,15,<NA>,12,12,10,<NA>,12,15,305
3,G. RUSSELL,2022,15,<NA>,<NA>,<NA>,12,15,10,12,<NA>,15,15,17,0,<NA>,15,12,15,18,0,4,<NA>,12,<NA>,<NA>,10,<NA>,10,11,34,<NA>,10,13,275
4,C. SAINZ,2022,0,<NA>,<NA>,<NA>,18,12,18,19,<NA>,11,0,6,25,<NA>,12,15,12,4,15,0,<NA>,5,<NA>,<NA>,12,<NA>,15,0,22,<NA>,15,10,246

In [ ]:
# f1_df.to_csv("f1_clean.csv",index=False)